.card {
    width: 60vw;
    background-color: #fff;

    h2 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
}

.stats {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    background-color: #f1f1f1;
    padding: 0.5rem;
    border-radius: 0.2em;


}

.stat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border-radius: 0.2em;

    &:nth-child(4n) {
        background-color: rgba(144, 238, 144, 0.253);
    }

    p {
        font-size: 0.8em;
    }
}

.statName {
    opacity: 0.8;
}

.value {
    color: red;
    font-weight: 800;
}